
    <section class="bg-100 dark__bg-1100 py-9 pb-0">
        <div class="container-small">
          <div class="row justify-content-between gy-4">
            <div class="col-12 col-lg-4">
              <div class="d-flex align-items-center mb-3"><img src="../../../assets/img/icons/logo.png" alt="OnlineKart" width="27" />
                <p class="logo-text ms-2">OnlineKart</p>
              </div>
              <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">OnlineKart is a user-friendly and innovative e-commerce store that offers a diverse range of high-quality products, ensuring a convenient and secure shopping experience for its customers.</p>
            </div>
            <div class="col-6 col-md-auto">
              <h5 class="fw-bolder mb-3">Stay Connected</h5>
              <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Blogs</a><a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span class="fab fa-facebook-square text-primary me-2 fs-0"></span><span class="text-800">Facebook</span></a><a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span class="fab fa-twitter-square text-info me-2 fs-0"></span><span class="text-800">Twitter</span></a></div>
            </div>
            <div class="col-6 col-md-auto">
              <h5 class="fw-bolder mb-3">Customer Service</h5>
              <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Help Desk</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Support, 24/7</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Community of OnlineKart</a></div>
            </div>
           
          </div>
        </div>

      </section>


      
      <footer class=" position-relative">
        <div class="row ">
        <hr>
        </div>
      </footer>
  



</main>








<script src="../../../vendors/popper/popper.min.js"></script>
<script src="../../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../../vendors/anchorjs/anchor.min.js"></script>
<script src="../../../vendors/is/is.min.js"></script>
<script src="../../../vendors/fontawesome/all.min.js"></script>
<script src="../../../vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="../../../vendors/list.js/list.min.js"></script>
<script src="../../../vendors/feather-icons/feather.min.js"></script>
<script src="../../../vendors/dayjs/dayjs.min.js"></script>
<script src="../../../assets/js/phoenix.js"></script>
<script src="../../../vendors/swiper/swiper-bundle.min.js"></script>


    <script src="../../../vendors/dropzone/dropzone.min.js"></script>
    <script src="../../../vendors/rater-js/index.js"></script>
    <script src="../../../vendors/glightbox/glightbox.min.js"> </script>
    <script src="../../../assets/js/phoenix.js"></script>

















<!-- 
additional -->

  
 

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/main.js"></script>









<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
<script>


</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>


<!-- Template Javascript -->
<script src="/main.js"></script>
<script src="magiczoom/magiczoom.js" type="text/javascript"></script>












</body>

</html>